body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

#IRAmap {
    height: 600px;
    width: 100%;
}

h1 {
    margin-bottom: 20px;
}

.map {
    height: 600px;
    width: 100%;
    margin-bottom: 20px;
}
